html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
p {
  font-family: roboto, sans-serif;
  line-height: 0;
}

.drum-pad {
  background-color: lightgrey;
  height: 75px;
  width: 125px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}

.drum-pad:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

hr {
  width: 50%;
  border: 0;
  height: 1px;
  background: lightgrey;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #a7a7a7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a7a7a7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(9px);
  -ms-transform: translateX(9px);
  transform: translateX(9px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Volume Slider */

.sliderVolume {
  -webkit-appearance: none;
  width: 75%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}


.sliderVolume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgb(44, 44, 44);
  cursor: pointer;
}

.sliderVolume::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: rgb(44, 44, 44);
  cursor: pointer;
}

#root {
  background: radial-gradient(white, lightblue);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

#drum-machine {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 20px;
  padding: 20px;
  height: auto;
  max-width: 750px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

#title {
  min-width: 750px;
  text-align: center;
  height: 50px;
}

#interface {
  flex-grow: 1;
  text-align: center;
}

#pads {
  width: 450px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

#copyright {
  width: 100%;
  text-align: center;
}